.Card{
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 25px;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #00c3ff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top{
  color:aliceblue;
}

.bottom{
  background-color: #00f7ff;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
}